<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ANPR API</title>
  {{ url_for("static", path="style.css") | css_script | safe }}
</head>
<body>
  <main>
    <h1>ANPR API</h1>
    <p>Test the API here.</p>
    <hr/>

    <div class="app" id="detect-app">
      <h4>Detect Objects</h4>
      <input type="file" @change="onFileSelected" accept="image/*" class="input-file">
      <button @click="onUpload">Upload</button>
      <div v-if="taskId">
        <span>Task: [[ taskId ]]</span>
        <span>Result: [[ result ]]</span>
        <div v-if="result.progress === 1">
          <img :src="result.image" width="600">
          <div v-if="result.objs.length > 0">
            <h2>Detected Objects</h2>
            <label for="makePredictionBox">Make Prediction</label>
            <input v-model="makePrediction" id="makePredictionBox" type="checkbox">
            <div v-for="obj in result.objs" :key="obj.src">
              <img :src="obj.src" width="200">
              <button @click="sendVehicleImage(obj.file)">Use this image</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr/>

    <div class="app" id="detect-plate-app">
      <h4>Detect Number Plate</h4>
      <input type="file" @change="onFileSelected" accept="image/*" class="input-file">
      <button @click="onUpload">Upload</button>
      <div v-if="taskId">
        <span>Task: [[ taskId ]]</span>
        <span>Result: [[ result ]]</span>
        <div v-if="result.progress === 1">
          <img :src="result.vehicle" width="200">
          <img :src="result.plate" width="200">
          <button @click="predictPlate()">Predict Plate</button>
        </div>
      </div>
    </div>

    <hr/>

    <div class="app" id="detect-colours-app">
      <h4>Detect Colours</h4>
      <input type="file" @change="onFileSelected" accept="image/*" class="input-file">
      <button @click="onUpload">Upload</button>
      <div v-if="taskId">
        <span>Task: [[ taskId ]]</span>
        <span>Result: [[ result ]]</span>
        <div v-if="result.progress === 1">
          <div v-for="colour in result.colours" :key="colour.colour" :style="{ 'background-color': colour.colour }">
            <span>[[ colour.colour ]] [[ colour.proportion ]]</span>
          </div>
        </div>
      </div>
    </div>

    <hr/>

    <div class="app" id="predict-plate-app">
      <h4>Predict Number Plate</h4>
      <input type="file" @change="onFileSelected" accept="image/*" class="input-file">
      <button @click="onUpload">Upload</button>
      <div v-if="taskId">
        <span>Task: [[ taskId ]]</span>
        <span>Result: [[ result ]]</span>
        <div v-if="result.progress === 1">
          <img :src="result.vehicle" width="200">
          <img :src="result.plate" width="200">
        </div>
      </div>
    </div>
  </main>
  <script type="text/javascript">
    var SERVER_HOST = "{{ SERVER_HOST }}"
    var API_STR = "/api/v1"
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const bus = new Vue();
    
  </script>
  {{ url_for("static", path="detect-app.js") | js_script | safe }}
  {{ url_for("static", path="detect-plate-app.js") | js_script | safe }}
  {{ url_for("static", path="detect-colours-app.js") | js_script | safe }}
  {{ url_for("static", path="predict-plate-app.js") | js_script | safe }}
</body>
</html>