<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {{ url_for("static", path="style.css") | css_script | safe }}
</head>
<body>
  <main>
    <h1>Title</h1>
    <p>Some detials</p>
    <hr/>

    <div class="app" id="detect-app">
      <input type="file" @change="onFileSelected" accept="image/*" class="input-file">
      <button @click="onUpload">Upload</button>
      <div v-if="taskId">
        <span>Task: [[ taskId ]]</span>
        <span>Result: [[ result ]]</span>
        <div v-if="result.progress === 1">
          <img :src="result.image">
          <div v-if="result.objs.length > 0">
            <h2>Detected Objects</h2> 
            <div v-for="obj in result.objs" :key="obj.src">
              <img :src="obj.src">
              <button @click="detectPlate(obj.file)">Detect Plate</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr/>

    <div class="app" id="detect-plate-app">
      <input type="file" @change="onFileSelected" accept="image/*" class="input-file">
      <button @click="onUpload">Upload</button>
      <div v-if="taskId">
        <span>Task: [[ taskId ]]</span>
        <span>Result: [[ result ]]</span>
        <div v-if="result.progress === 1">
          <img :src="result.vehicle" width="200">
          <img :src="result.plate" width="200">
        </div>
      </div>
    </div>
  </main>
  <script type="text/javascript">
    var SERVER_HOST = "{{ SERVER_HOST }}"
    var API_STR = "/api/v1"
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const bus = new Vue();
    
  </script>
  {{ url_for("static", path="detect-app.js") | js_script | safe }}
  {{ url_for("static", path="detect-plate-app.js") | js_script | safe }}
</body>
</html>